<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/example.css">
    <link rel="icon" href="/static/ico/example.ico" type="image/x-icon">
    <title>Example | haywik</title>
</head>

<body>
  <h4 class="dev-checker">For the dev: <br> <span class="dev-checker red-text">If Red, CSS is loaded</span> and <span id="js-example-checker"> If Red, Javascript loaded</span></h4>
  <script src="/static/js/example.js"></script>
</body>
